.jspsych-display-element {
    font-size: 28px;
}

.highlight {
    background: lightgreen;
}

.img {
    width: 200px;
    height: 200px
}

img.thumbnail {
    width: 100px;
    height: auto;
    padding: 25px;
}

