.jspsych-display-element {
    font-size: 28px;
}

.highlight {
    background: lightgreen;
}

.img {
    width: 200px;
    height: 200px
}

img.top_pic {
    width: auto;
    height: 500px;
}

img.thumbnail {
    width: auto;
    height: 150px;
    padding: 25px;
}

