.jspsych-display-element {
    font-size: 28px;
}

.highlight {
    background: lightgreen;
}

.img {
    width: 200px;
    height: 200px
}

img.top_pic {
    width: auto;
    height: 500px;
}

img.instruction1 {
    width: auto;
    height: 300px;
}

img.thumbnail {
    width: auto;
    height: 150px;
    padding: 25px;
}

div.instruction {
    text-align: left;
    font-size: .8em;
    line-height: 1.5;
}
