.jspsych-display-element {
    font-size: 28px;
}

.highlight {
    background: lightgreen;
}

.img {
    width: 200px;
    height: 200px
}

img.top_pic {
    width: auto;
    height: 500px;
}

img.instruction1 {
    width: auto;
    height: 300px;
}

img.instruction2 {
    width: auto;
    height: 150px;
}

img.thumbnail {
    width: auto;
    height: 150px;
    padding: 25px;
}

div.instruction {
    text-align: center;
    font-size: .8em;
    line-height: 1.5;
}

table.img_table {
    border: 2px solid black;
    border-collapse: collapse;
}

.border_right {
    border-right: 2px solid black
}
